@import "@material/icon-button/mdc-icon-button";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/fab/mdc-fab";

body {
  display: flex;
  height: 100vh;
  padding: 0;
  margin: 0;
  #app {
    height: 100%;
    width: 100vw;
    .sidemenu {
      height: 100%;
      left: -300px;
      position: absolute;
      transition: all 0.2s linear;
      z-index: 10000;
      background: white;
    }

    .sidemenu.open {
      left: 0px;
    }

    .home {
      width: 100%;
      height: calc(100% - 48px);
      display: flex;
      flex-direction: column;
      #table {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        div {
          width: 100%;
          height: 50%;
        }
        :first-child {
          border-bottom: 1px solid #b3b2b2;
        }
      }
    }
  }
}


.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}


@media(min-width: 1024px) {
  .app-fab--absolute {
   bottom: 1.5rem;
   right: 1.5rem;
 }
}